<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>MyMaterial Toolbar</span>
    <span class="example-spacer"></span>
    <button mat-button>About</button>
    <button mat-button>Services</button>
    <button mat-button>Contact</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card class="example-card">
  <form #myForm="ngForm">
    <mat-form-field>
      <input name="answer" matInput placeholder="Who has the best Dev tutorials" [(ngModel)]="answer" autocomplete="off">
    </mat-form-field>
    <br>
    <button mat-raised-button (click)="showAnswer()">Answer Me</button>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </form>
</mat-card>

<mat-card *ngIf="answerDisplay">
  <h1> {{ answerDisplay }}, you're damn right.</h1>
</mat-card>